:root{
  --color1: #731dd8;
  --color2: #48a9a6;
  --color3: #e4dfda;
  --color4: #d4b483;
  --color5: #c1666b;
}

html{
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body{
  background-color: var(--color1);
  color: var(--color3);
  height: 100vh;
}

.container{
  width: 80vw;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  display: flex;
	justify-content: center;
	min-height: 100vh;
}

.welcomeH{
  text-align: center;
  font-size: 5rem;
}

.buttons{
display: flex;
justify-content: center;
}

.primary_button{
  background: var(--color4);
  color: black;
  font-size: 1.5rem;
  width: 9rem;
  padding: 0.5rem;
  border-radius: 30px;
  margin: 1rem;
}
.primary_button:hover{
  background: var(--color2);
  color: var(--color3);
}
